backports.functools-lru-cache==1.4
certifi==2017.11.5
cycler==0.10.0
decorator==4.2.1
jellyfish==0.5.6
matplotlib==2.1.2
networkx==2.0
numpy==1.14.0
Pillow==5.0.0
pyparsing==2.2.0
pytesseract==0.1.8
python-dateutil==2.6.1
pytz==2017.3
PyWavelets==0.5.2
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
subprocess32==3.2.7
tesseract==0.1.3
